form {
  width: 650px;
  margin-bottom: 1rem;
}

input {
  margin-right: 0.5rem;
}

.cards {
  flex-wrap: wrap;
  margin-top: 1rem;
}

.weatherCard {
  color: whitesmoke;
  width: 550px;
  height: 380px;
  padding: 1rem 2rem;
  background-color: rgba(0, 102, 255, 0.5);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 15px;
  margin: 1rem;
}

.secondaryWeatherCard {
  width: 250px;
  height: 380px;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 15px;
  margin: 1rem;
}

.secondaryWeatherCard .textDataWeather {
  color: rgb(46, 46, 46);
}

.iconWeather {
  width: 100px;
  animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar {
  0% {
    scale: 100%;
  }
  50% {
    scale: 85%;
  }
  100% {
    scale: 100%;
  }
}

.iconWeatherSecondary {
  width: 100px;
  animation: flotarSecondary 3s ease-in-out infinite;
}

@keyframes flotarSecondary {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

h2 {
  font-weight: bold;
}
.country {
  font-size: 0.7em;
  font-weight: lighter;
}

h5,
h6 {
  font-weight: 600;
}

h6 span,
h5 span {
  font-size: 1em;
}

.textDataWeather {
  font-weight: lighter;
  color: whitesmoke;
}

@media screen and (max-width: 900px) {
  form {
    width: 350px;
    margin-bottom: 1rem;
  }

  input {
    margin-right: 0.5rem;
  }

  .weatherCard {
    width: 350px;
    height: 360px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 15px;
    margin: 0rem;
  }

  .secondaryWeatherCard {
    height: 300px;
    margin: 0.5rem;
  }

  .secondaryWeatherCard:last-child {
    margin-bottom: 2rem;
  }

  .iconWeather {
    width: 100px;
  }

  h2 {
    font-weight: bold;
  }
  .country {
    font-size: 0.7em;
    font-weight: lighter;
  }

  h5 {
    font-weight: 600;
  }
}
