.footer {
  font-size: 0.82em;
  font-weight: light;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 228, 228, 0.3);
  backdrop-filter: blur(5px);
  margin-top: auto;
}

.footerContainer {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footerContainer p {
  margin: 0;
  display: flex;
  font-weight: 600;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: .95em;
}

.logoDev {
  display: flex;
  height: 24px;
  width: 24px;
  transition: all ease 200ms;
  margin-left: .5rem;
}

.logoDev:hover {
  transform: scale(1.05) rotate(7deg);
}